*
{
    margin : 0;
    padding : 0;
    font-family: sans-serif;
}

ul
{
   float:right;
   list-style-type : none;
    margin-top: 25px;
    margin-right: 30px;
}
ul li{
    display:inline-block;
  
}
ul li a{
    text-decoration: none;
    padding:6px 24px;
    border:1px solid transparent;
    color: black;
    transition:0.6s ease;
}
ul li a:hover{
     background-color: #fff;
     color:#000;
}
ul li.active a{
    background-color: #fff;
    color:#000;

}